<%= form_for(@comp_info) do |f| %>
  <% if @comp_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comp_info.errors.count, "error") %> prohibited this comp_info from being saved:</h2>

      <ul>
      <% @comp_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Company Name" %><br />
    <%= f.text_field :comp_name %>
  </div>
  <div class="field">
    <%= f.label "Company Representative" %><br />
    <%= f.text_field :comp_res %>
  </div>
  <div class="field">
    <%= f.label "Company Representative" %><br />
    <%= f.label "Contact Number" %><br />
    <%= f.text_field :comp_res_numk %>
  </div>
  <div class="field">
    <%= f.label "Technical Representative" %><br />
    <%= f.text_field :comp_tech_rep %>
  </div>
  <div class="field">
    <%= f.label "Technical Representative" %><br />
    <%= f.label "Contact Number" %><br />
    <%= f.text_field :comp_tech_num %>
  </div>

  <h2>Dancers</h2>
  <div class="dancer1">
  <div class="field">
    <%= f.label "Dancer #1" %>
    <%= f.text_field :dancer1 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #2" %>
    <%= f.text_field :dancer2 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #3" %>
    <%= f.text_field :dancer3 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #4" %>
    <%= f.text_field :dancer4 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #5" %>
    <%= f.text_field :dancer5 %>
  </div>
    <div class="field">
    <%= f.label "Dancer #6" %>
    <%= f.text_field :dancer6 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #7" %>
    <%= f.text_field :dancer7 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #8" %>
    <%= f.text_field :dancer8 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #9" %>
    <%= f.text_field :dancer9 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #10" %>
    <%= f.text_field :dancer10 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #11" %>
    <%= f.text_field :dancer11 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #12" %>
    <%= f.text_field :dancer12 %>
  </div>

  <div class="field">
    <%= f.label "Dancer #13" %>
    <%= f.text_field :dancer13 %>
  </div>
</div>

<div class="dancer2">

  <div class="field">
    <%= f.label "Dancer #14" %>
    <%= f.text_field :dancer14 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #15" %>
    <%= f.text_field :dancer15 %>
  </div>
    <div class="field">
    <%= f.label "Dancer #16" %>
    <%= f.text_field :dancer16 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #17" %>
    <%= f.text_field :dancer17 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #18" %>
    <%= f.text_field :dancer18 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #19" %>
    <%= f.text_field :dancer19 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #20" %>
    <%= f.text_field :dancer20 %>
  </div>

  <div class="field">
    <%= f.label "Dancer #21" %>
    <%= f.text_field :dancer21 %>
  </div>
  
  <div class="field">
    <%= f.label "Dancer #22" %>
    <%= f.text_field :dancer22 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #23" %>
    <%= f.text_field :dancer23 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #24" %>
    <%= f.text_field :dancer24 %>
  </div>
  <div class="field">
    <%= f.label "Dancer #25" %>
    <%= f.text_field :dancer25 %>
  </div>
</div>


<div style="clear:both;padding-top:30px;">

<h2>Number of Microphone</h2>
  <div class="field">
    <%= f.label "Microphones" %>
    <%= f.select :mics, [1,2,3,4] %>
  </div>
</div>

<h2>Props Men</h2>
  <div class="props1">
  <div class="field">
    <%= f.label "Props Men #1" %>
    <%= f.text_field :propsmen1 %>
  </div>
   <div class="field">
    <%= f.label "Props Men #2" %>
    <%= f.text_field :propsmen2 %>
  </div>
   <div class="field">
    <%= f.label "Props Men #3" %>
    <%= f.text_field :propsmen3 %>
  </div>
</div>
  <div class="props2">
   <div class="field">
    <%= f.label "Props Men #4" %>
    <%= f.text_field :propsmen4 %>
  </div>
   <div class="field">
    <%= f.label "Props Men #5" %>
    <%= f.text_field :propsmen5 %>
  </div>
   <div class="field">
    <%= f.label "Props Men #6" %>
    <%= f.text_field :propsmen6 %>
  </div>
</div>

<h2>Personal Assistant</h2>
  <div class="field">
    <%= f.label "PA #1" %>
    <%= f.text_field :pa1 %>
  </div>
   <div class="field">
    <%= f.label "PA #2" %>
    <%= f.text_field :pa2 %>
  </div>

  <h2>Comments</h2>
  <div class="field">

    <%= f.text_area :comments %>
  </div>

  <h2>Time and Performance Requirement</h2><p>example. 0:00 - 0:15 - Random Play of Lights</p>
  <div class="props1">
   <div class="field">
    <%= f.label "Time #1" %>
    <%= f.text_field :time1 %>
  </div>
     <div class="field">
    <%= f.label "Time #2" %>
    <%= f.text_field :time2 %>
  </div>
     <div class="field">
    <%= f.label "Time #3" %>
    <%= f.text_field :time3 %>
  </div>
     <div class="field">
    <%= f.label "Time #4" %>
    <%= f.text_field :time4 %>
  </div>
     <div class="field">
    <%= f.label "Time #5" %>
    <%= f.text_field :time5 %>
  </div>
   <div class="field">
    <%= f.label "Time #6" %>
    <%= f.text_field :time6 %>
  </div>
     <div class="field">
    <%= f.label "Time #7" %>
    <%= f.text_field :time7 %>
  </div>
     <div class="field">
    <%= f.label "Time #8" %>
    <%= f.text_field :time8 %>
  </div>
     <div class="field">
    <%= f.label "Time #9" %>
    <%= f.text_field :time9 %>
  </div>
     <div class="field">
    <%= f.label "Time #10" %>
    <%= f.text_field :time10 %>
  </div>
       <div class="field">
    <%= f.label "Time #11" %>
    <%= f.text_field :time11 %>
  </div>
     <div class="field">
    <%= f.label "Time #12" %>
    <%= f.text_field :time12 %>
  </div>
     <div class="field">
    <%= f.label "Time #13" %>
    <%= f.text_field :time13 %>
  </div>
     <div class="field">
    <%= f.label "Time #14" %>
    <%= f.text_field :time14 %>
  </div>
     <div class="field">
    <%= f.label "Time #15" %>
    <%= f.text_field :time15 %>
  </div>
</div>

<div class="props2">

   <div class="field">
    <%= f.label "Time #16" %>
    <%= f.text_field :time16 %>
  </div>
     <div class="field">
    <%= f.label "Time #17" %>
    <%= f.text_field :time17 %>
  </div>
     <div class="field">
    <%= f.label "Time #18" %>
    <%= f.text_field :time18 %>
  </div>
     <div class="field">
    <%= f.label "Time #19" %>
    <%= f.text_field :time19 %>
  </div>
     <div class="field">
    <%= f.label "Time #20" %>
    <%= f.text_field :time20 %>
  </div>
  <div class="field">
    <%= f.label "Time #21" %>
    <%= f.text_field :time21 %>
  </div>
     <div class="field">
    <%= f.label "Time #22" %>
    <%= f.text_field :time22 %>
  </div>
     <div class="field">
    <%= f.label "Time #23" %>
    <%= f.text_field :time23 %>
  </div>
     <div class="field">
    <%= f.label "Time #24" %>
    <%= f.text_field :time24 %>
  </div>
     <div class="field">
    <%= f.label "Time #25" %>
    <%= f.text_field :time25 %>
  </div>
   <div class="field">
    <%= f.label "Time #26" %>
    <%= f.text_field :time26 %>
  </div>
     <div class="field">
    <%= f.label "Time #27" %>
    <%= f.text_field :time27 %>
  </div>
     <div class="field">
    <%= f.label "Time #28" %>
    <%= f.text_field :time28 %>
  </div>
     <div class="field">
    <%= f.label "Time #29" %>
    <%= f.text_field :time29 %>
  </div>
     <div class="field">
    <%= f.label "Time #30" %>
    <%= f.text_field :time30 %>
    <br /><br /><br />
  </div>
  </div><br /><br />
  <br /><br />
  <div class="actions">
    <%= f.submit "Submit", :controller => 'comp_info', :action => 'submit_res' %>
  </div>
<% end %>


<div class="equipment">

  <p>
  <span style="font-size:1.2em;font-weight:bolder;">Technical Equipment (to be provided by PeopleSparx)</span><br /><br />    
  <span style="font-weight:bolder;">STAGE BACKDROP</span> <br />
  Framing of 3 – 9’x12’ LCD Screens 
  <br />  <br />
  <span style="font-weight:bolder;">VIDEO SYSTEM</span><br />
  3 units   9’ x 12’ LCD Screens<br />
  3 units   LCD Rear Projectors<br />
  2 units   Camera System <br />
  1 unit  DVD Harddisk Recording<br />
  2 units   DVD Players<br />
  1 lot                VGA Splitters & Switchers <br />                    
<br /><br />
  <span style="font-weight:bolder;">LIGHTS & SOUND SYSTEM</span><br />
  Audio System<br />
  6 units EAW Type AS690<br />
  4 units RCF 4PRO6001<br />
  6 units EV- Type Sub Scoop, Subwoofer, Powered, 600w<br />
  4    units RCF 4PRO3002SMA, 12” Bi-Amp, Powered Speakers<br />
  2 units Pioneer CDJ 100s CD Players<br />
  1 unit  Stanton SA3, Professional Scratch Mixer (DJ Battle Mixer)<br />
  1   unit 32 channels Digital Mixing Console<br />
  1 lot Shure SM58 Wired Microphone<br />
  4 units Sennheiser eW135 Handheld wireless UHF microphone<br />
<br /><br />
  <span style="font-weight:bolder;">Miscellaneous</span><br />
  1 lot Microphone stands<br />
  1 unit  Whirlwind 32x8x50m Microphone Snake Cable<br />
  4 units Crank-up Mechanical Light Stand. 20’ hoist level<br />
  1 lot Steel Scaffoldings<br />
  1 lot Cables, Connectors & Wiring Materials<br />
  1 unit  Power Distribution Unit, 120 amperes main breaker (3 phase)<br />
  1 unit  Power Distribution Unit, 200 amperes main breaker (3 phase)<br />
  5 units Communication Headsets<br />
<br /><br />
  <span style="font-weight:bolder;">Lighting and Effects</span><br />
  24  units Par 64 lamps <br />
  1 unit  DMX Dimmer Board Light Controller<br />
  16  units Lumilites LED Par 3W<br />
  2 units Jogen 1200 Fog Machine<br />
  2 units Antari HZ100 Haze machine<br />
  2 units Silverstar HMI 1200 Follow Spot<br />
  2 units Jogen Molefay (flash) Audience Blinder Lights<br />
  4 units Pearl River Big Dipper, Profile 575 moving heads<br />
  1 unit  Magic DP1220 DMX 4kva X 12 channel dimmer pack<br />
  1 unit  Avolites Pearl 2010 programmable light mixing console<br />

  </p>
</div>
