<p id="notice"><%= notice %></p>


<div class="field">
    <b>Company Name:</b>
    <%=  @comp_info.comp_name %>
</div>

<div class="field">
    <b>Company Representative:</b>
    <%=  @comp_info.comp_res %>
</div>

<div class="field">
    <b>Company Representative Contact:</b>
    <%=  @comp_info.comp_res_numk %>
</div>

<div class="field">
    <b>Technical Representative:</b>
    <%=  @comp_info.comp_tech_rep %>
</div>

<div class="field">
    <b>Technical Representative: Contact:</b>
    <%=  @comp_info.comp_tech_num %>
</div>
<br />

<h2>Dancers</h2>
<div class="dancer1">
  <div class="field">
     <p>1. <%= @comp_info.dancer1 %></p>
  </div>
 <div class="field">
    <p>2. <%= @comp_info.dancer2 %></p>
  </div>
  <div class="field">
    <p>3. <%= @comp_info.dancer3 %></p>
  </div>
 <div class="field">
    <p>4. <%= @comp_info.dancer4 %></p>
  </div>
  <div class="field">
    <p>5. <%= @comp_info.dancer5 %></p>
  </div>
  <div class="field">
    <p>6. <%= @comp_info.dancer6 %></p>
  </div>
 <div class="field">
    <p>7. <%= @comp_info.dancer7 %></p>
  </div>
  <div class="field">
    <p>8. <%= @comp_info.dancer8 %></p>
  </div>
  <div class="field">
    <p>9. <%= @comp_info.dancer9 %></p>
  </div>
  <div class="field">
    <p>10. <%= @comp_info.dancer10 %></p>
  </div>
   <div class="field">
    <p>11. <%= @comp_info.dancer11 %></p>
  </div>
 <div class="field">
    <p>12. <%= @comp_info.dancer12 %></p>
  </div>
  <div class="field">
    <p>13. <%= @comp_info.dancer13 %></p>
  </div>
</div>

<div class="dancer2">
 <div class="field">
    <p>14. <%= @comp_info.dancer14 %></p>
  </div>
  <div class="field">
    <p>15. <%= @comp_info.dancer15 %></p>
  </div>
  <div class="field">
    <p>16. <%= @comp_info.dancer16 %></p>
  </div>
 <div class="field">
    <p>17. <%= @comp_info.dancer17 %></p>
  </div>
  <div class="field">
    <p>18. <%= @comp_info.dancer18 %></p>
  </div>
  <div class="field">
    <p>19. <%= @comp_info.dancer19 %></p>
  </div>
  <div class="field">
    <p>20. <%= @comp_info.dancer20 %></p>
  </div>
  <div class="field">
    <p>21. <%= @comp_info.dancer21 %></p>
  </div>
  <div class="field">
    <p>22. <%= @comp_info.dancer22 %></p>
  </div>
  <div class="field">
    <p>23. <%= @comp_info.dancer23 %></p>
  </div>
  <div class="field">
    <p>24. <%= @comp_info.dancer24 %></p>
  </div>
  <div class="field">
    <p>25. <%= @comp_info.dancer25 %></p>
  </div>
</div>

<h2>Number of Microphone</h2>
  <div class="field">
    <%= @comp_info.mics %>
  </div>

<h2>Props Men</h2>
  <div class="props1">
  <div class="field">
      <p>1. <%= @comp_info.propsmen1 %></p>
  </div>
   <div class="field">
      <p>2. <%= @comp_info.propsmen2 %></p>
  </div>
   <div class="field">
      <p>3. <%= @comp_info.propsmen3 %></p>
  </div>
</div>
  <div class="props2">
   <div class="field">
    <p>4. <%= @comp_info.propsmen4 %></p>
  </div>
   <div class="field">
    <p>5. <%= @comp_info.propsmen5 %></p>
  </div>
   <div class="field">
    <p>6. <%= @comp_info.propsmen6 %></p>
  </div>
</div>


<h2>Personal Assistant</h2>
  <div class="field">
    <%= @comp_info.pa1 %>
  </div>
   <div class="field">
    <%= @comp_info.pa2 %>
  </div>

  <h2>Comments</h2>
  <div class="field">

    <%= @comp_info.comments %>
  </div>


  <h2>Time and Performance Requirement</h2>
  <div class="props1">
   <div class="field">
    <p>1. <%= @comp_info.time1 %></p>
  </div>
  <div class="field">
    <p>2. <%= @comp_info.time2 %></p>
  </div>
  <div class="field">
    <p>3. <%= @comp_info.time3 %></p>
  </div>
  <div class="field">
    <p>4. <%= @comp_info.time4 %></p>
  </div>
  <div class="field">
    <p>5. <%= @comp_info.time5 %></p>
  </div>
  <div class="field">
    <p>6. <%= @comp_info.time6 %></p>
  </div>
  <div class="field">
    <p>7. <%= @comp_info.time7 %></p>
  </div>
  <div class="field">
    <p>8. <%= @comp_info.time8 %></p>
  </div>
   <div class="field">
    <p>9. <%= @comp_info.time9 %></p>
  </div>
  <div class="field">
    <p>10. <%= @comp_info.time10 %></p>
  </div>


  <div class="field">
    <p>11. <%= @comp_info.time11 %></p>
  </div>
  <div class="field">
    <p>12. <%= @comp_info.time12 %></p>
  </div>
  <div class="field">
    <p>13. <%= @comp_info.time13 %></p>
  </div>
  <div class="field">
    <p>14. <%= @comp_info.time14 %></p>
  </div>
  <div class="field">
    <p>15. <%= @comp_info.time15 %></p>
  </div>
  <div class="field">
    <p>16. <%= @comp_info.time16 %></p>
  </div>
  <div class="field">
    <p>17. <%= @comp_info.time17 %></p>
  </div>
  <div class="field">
    <p>18. <%= @comp_info.time18 %></p>
  </div>
   <div class="field">
    <p>19. <%= @comp_info.time19 %></p>
  </div>
  <div class="field">
    <p>20. <%= @comp_info.time20 %></p>
  </div>


  <div class="field">
    <p>21. <%= @comp_info.time21 %></p>
  </div>
  <div class="field">
    <p>22. <%= @comp_info.time22 %></p>
  </div>
  <div class="field">
    <p>23. <%= @comp_info.time23 %></p>
  </div>
  <div class="field">
    <p>24. <%= @comp_info.time24 %></p>
  </div>
  <div class="field">
    <p>25. <%= @comp_info.time25 %></p>
  </div>
  <div class="field">
    <p>26. <%= @comp_info.time26 %></p>
  </div>
  <div class="field">
    <p>27. <%= @comp_info.time27 %></p>
  </div>
  <div class="field">
    <p>28. <%= @comp_info.time28 %></p>
  </div>
   <div class="field">
    <p>29. <%= @comp_info.time29 %></p>
  </div>
  <div class="field">
    <p>30. <%= @comp_info.time30 %></p>
  </div>


<%= link_to 'Edit', edit_comp_info_path(@comp_info) %> |
<%= link_to 'Back', comp_infos_path %>


<div class="equipment">

  <p>
  <span style="font-size:1.2em;font-weight:bolder;">Technical Equipment (to be provided by PeopleSparx)</span><br /><br />    
  <span style="font-weight:bolder;">STAGE BACKDROP</span> <br />
  Framing of 3 – 9’x12’ LCD Screens 
  <br />  <br />
  <span style="font-weight:bolder;">VIDEO SYSTEM</span><br />
  3 units   9’ x 12’ LCD Screens<br />
  3 units   LCD Rear Projectors<br />
  2 units   Camera System <br />
  1 unit  DVD Harddisk Recording<br />
  2 units   DVD Players<br />
  1 lot                VGA Splitters & Switchers <br />                    
<br /><br />
  <span style="font-weight:bolder;">LIGHTS & SOUND SYSTEM</span><br />
  Audio System<br />
  6 units EAW Type AS690<br />
  4 units RCF 4PRO6001<br />
  6 units EV- Type Sub Scoop, Subwoofer, Powered, 600w<br />
  4    units RCF 4PRO3002SMA, 12” Bi-Amp, Powered Speakers<br />
  2 units Pioneer CDJ 100s CD Players<br />
  1 unit  Stanton SA3, Professional Scratch Mixer (DJ Battle Mixer)<br />
  1   unit 32 channels Digital Mixing Console<br />
  1 lot Shure SM58 Wired Microphone<br />
  4 units Sennheiser eW135 Handheld wireless UHF microphone<br />
<br /><br />
  <span style="font-weight:bolder;">Miscellaneous</span><br />
  1 lot Microphone stands<br />
  1 unit  Whirlwind 32x8x50m Microphone Snake Cable<br />
  4 units Crank-up Mechanical Light Stand. 20’ hoist level<br />
  1 lot Steel Scaffoldings<br />
  1 lot Cables, Connectors & Wiring Materials<br />
  1 unit  Power Distribution Unit, 120 amperes main breaker (3 phase)<br />
  1 unit  Power Distribution Unit, 200 amperes main breaker (3 phase)<br />
  5 units Communication Headsets<br />
<br /><br />
  <span style="font-weight:bolder;">Lighting and Effects</span><br />
  24  units Par 64 lamps <br />
  1 unit  DMX Dimmer Board Light Controller<br />
  16  units Lumilites LED Par 3W<br />
  2 units Jogen 1200 Fog Machine<br />
  2 units Antari HZ100 Haze machine<br />
  2 units Silverstar HMI 1200 Follow Spot<br />
  2 units Jogen Molefay (flash) Audience Blinder Lights<br />
  4 units Pearl River Big Dipper, Profile 575 moving heads<br />
  1 unit  Magic DP1220 DMX 4kva X 12 channel dimmer pack<br />
  1 unit  Avolites Pearl 2010 programmable light mixing console<br />

  </p>
</div>