
<h1><%= @comp_name.comp_name %></h1>

<table>
	<tr>
		<td>Representative:</td>
		<td><b><%= @comp_name.comp_res %></b></td>
	</tr>
	<tr>
		<td>Representative Contact:</td>
		<td><b><%= @comp_name.comp_res_numk %></b></td>
	</tr>
	<tr>
		<td>Techical Representative:</td>
		<td><b><%= @comp_name.comp_tech_rep %></b></td>
	</tr>
	<tr>
		<td>Techical Representative Contact:</td>
		<td><b><%= @comp_name.comp_tech_num %></b></td>
	</tr>
</table>
<br/>
<h2>Dancers:</h2>
<ol>
	<li><%= @comp_name.dancer1 %></li>
	<li><%= @comp_name.dancer2 %></li>
	<li><%= @comp_name.dancer3 %></li>
	<li><%= @comp_name.dancer4 %></li>
	<li><%= @comp_name.dancer5 %></li>
	<li><%= @comp_name.dancer6 %></li>
	<li><%= @comp_name.dancer7 %></li>
	<li><%= @comp_name.dancer8 %></li>
	<li><%= @comp_name.dancer9 %></li>
	<li><%= @comp_name.dancer10 %></li>
	<li><%= @comp_name.dancer11 %></li>
	<li><%= @comp_name.dancer12 %></li>
	<li><%= @comp_name.dancer13 %></li>
	<li><%= @comp_name.dancer14 %></li>
	<li><%= @comp_name.dancer15 %></li>
	<li><%= @comp_name.dancer16 %></li>
	<li><%= @comp_name.dancer17 %></li>
	<li><%= @comp_name.dancer18 %></li>
	<li><%= @comp_name.dancer19 %></li>
	<li><%= @comp_name.dancer20 %></li>
	<li><%= @comp_name.dancer21 %></li>
	<li><%= @comp_name.dancer22 %></li>
	<li><%= @comp_name.dancer23 %></li>
	<li><%= @comp_name.dancer24 %></li>
	<li><%= @comp_name.dancer25 %></li>
</ol>

<br/>
<h2>Microphone:</h2>
<p><%= @comp_name.mics %></p>
<br/>
<h2>Props Men:</h2>
<ol>
	<li><%= @comp_name.propsmen1 %></li>
	<li><%= @comp_name.propsmen2 %></li>
	<li><%= @comp_name.propsmen3 %></li>
	<li><%= @comp_name.propsmen4 %></li>
	<li><%= @comp_name.propsmen5 %></li>
	<li><%= @comp_name.propsmen6 %></li>
</ol>

<br />
<h2>Personal Assistant:</h2>
<ol>
	<li><%= @comp_name.pa1 %></li>
	<li><%= @comp_name.pa2 %></li>
</ol>

<br />
<h2>Time and Performance Requirements:</h2>
<ul>
	<p><%= @comp_name.time1 %></p>
	<p><%= @comp_name.time2 %></p>
	<p><%= @comp_name.time3 %></p>
	<p><%= @comp_name.time4 %></p>
	<p><%= @comp_name.time5 %></p>
	<p><%= @comp_name.time6 %></p>
	<p><%= @comp_name.time7 %></p>
	<p><%= @comp_name.time8 %></p>
	<p><%= @comp_name.time9 %></p>
	<p><%= @comp_name.time10 %></p>
	<p><%= @comp_name.time11 %></p>
	<p><%= @comp_name.time12 %></p>
	<p><%= @comp_name.time13 %></p>
	<p><%= @comp_name.time14 %></p>
	<p><%= @comp_name.time15 %></p>
	<p><%= @comp_name.time16 %></p>
	<p><%= @comp_name.time17 %></p>
	<p><%= @comp_name.time18 %></p>
	<p><%= @comp_name.time19 %></p>
	<p><%= @comp_name.time20 %></p>
	<p><%= @comp_name.time21 %></p>
	<p><%= @comp_name.time22 %></p>
	<p><%= @comp_name.time23 %></p>
	<p><%= @comp_name.time24 %></p>
	<p><%= @comp_name.time25 %></p>
	<p><%= @comp_name.time26 %></p>
	<p><%= @comp_name.time27 %></p>
	<p><%= @comp_name.time28 %></p>
	<p><%= @comp_name.time29 %></p>
	<p><%= @comp_name.time30 %></p>
</ul>

<br />
<h2>Comments:</h2>
<p><%= @comp_name.comments %></p>